body {
    font-family: 'Calibri', Times, serif;
}

.transactionHistory {
    margin-top: 10px;
}

tr:nth-child(even) {
    background-color: #d3d3d3;
}

.trHead {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}


.thItem {
    padding: 5px 50px;
    font-size: 50px;
    border: 1px solid #000;
}

.tbItem {
    text-transform: capitalize;
}
